TOPIC: STRING BASED ASSIGNMENT PROBLEM

In [1]:
#1. Write a program to reverse a string.

In [3]:
#taking input
str1=input()
#reversing string and printing output
print(str1[::-1])

 tre

ert

In [4]:
#2. Check if a string is a palindrome.

In [6]:
#taking input
str1=input()
#using if-else, if the reverse of string is same then its palindrome.
if str1==str1[::-1]:
    print("palindrome")
else:
    print("not palindrome")

 rer

palindrome

In [7]:
#3. Convert a string to uppercase.

In [11]:
str1=input()
#converting to uppercase using upper function
print(str1.upper())

 tyu

TYU

In [12]:
#4. Convert a string to lowercase.

In [13]:
str1=input()
#converting to uppercase using lower function
print(str1.lower())

 GFDS

gfds

In [14]:
#5. Count the number of vowels in a string.

In [22]:
str1=input()
#initial value of vowel is 0
vowel=0
#using for loop to go through complete string
for i in str1:
    if i=="a" or i=="e" or i=="o" or i=="u" or i=="i":
        #value of vowel will increase by 1 whenever the if condition is true
        vowel =vowel+1
print(vowel)

 question

4

In [21]:
#6. Count the number of consonants in a string.

In [9]:
str1="this is jupyter notebook"
#removing space so it does not count space
str1=str1.replace(" ","")
consonant=0
for i in str1:
    #if the charachter is not vowel then its a consonant in this string because this string only contains vowels and consonants
    if i!="a" and i!="e" and i!="o" and i!="u" and i!="i":
        consonant =consonant+1
print(consonant)

13

In [27]:
#7. Remove all whitespaces from a string.

In [18]:
#taking input from user 
str1=input()
#using replace function to remove white spaces
str1=str1.replace(" ", "")
print(str1)

 this is a question

thisisaquestion

In [33]:
#8. Find the length of a string without using the `len()` function.

In [1]:
str1 = 'Hello'
#initial value of count is 0
count = 0
#for loop to increase count value by 1 upto string length
for i in str1: 
    count+=1
print(count)

5

In [39]:
#9. Check if a string contains a specific word.

In [23]:
#taking input from user
str1=input()
#using if condition to check if the specific word is present or not
if "the" in str1:
    print("contains")
else:
    print("doesn't contain")

 mitochondria is the powerhouse of the cell

contains

In [9]:
#10. Replace a word in a string with another word.

In [33]:
#taking input from user 
str1=input()
#if the word is present in the string then replacing it using replace function
if "the" in str1:
    str1=str1.replace("the","not the")
    print(str1)
else:
    print("word not present")

 the great britain

not the great britain

In [30]:
#11. Count the occurrences of a word in a string.

In [25]:
#taking string as an input from the user
str1=input()
#using count function to count the number of occurences
str1=str1.count("india")
print(str1)

 i love india

1

In [10]:
#12. Find the first occurrence of a word in a string.

In [14]:
str1="this is pwskills and is good"
#using find function to find the first occurence of the word
print(str1.find('is'))

2

In [13]:
#13. Find the last occurrence of a word in a string.

In [16]:
str1="this is pwskills and is good"
#using rfind function to find the last occurence of the word
print(str1.rfind('is'))

21

In [17]:
#14. Split a string into a list of words.

In [9]:
str1="smallstring"
#splitting the string by replacing '' with ' ' using replace function
print(str1.replace(""," "))

 s m a l l s t r i n g

In [6]:
#15. Join a list of words into a string.

In [7]:
str1="a b c d e"
#joining by replacing ' ' with ''
print(str1.replace(" ",""))

abcde

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [11]:
str1="this is a string"
#replacing spaces with underscore using replace function
print(str1.replace(" ","_"))

this_is_a_string

In [12]:
#17. Check if a string starts with a specific word or phrase.

In [15]:
#taking input from the user
str1=input()
#checking if the first element is same as our specific word 
if str1[0]=='a':
    print("yes it starts with a")
else:
    print("no, it doesn't start with a")

 abcd

yes it starts with a

In [16]:
#18. Check if a string ends with a specific word or phrase.

In [6]:
#taking a string as an input form the user
str1=input()
#initial value of count is -1 so traversing doesn't go beyond the last element of the string
count=-1
#traversing to the last element of the string
for i in str1:
    count=count+1
#checking if the last element is the word we want to find
if str1[count]=='a':
    print("yes")
else:
    print("no")

 magenta

yes

In [7]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [8]:
str1="hello world"
#using title function to convert the string to title case
print(str.title(str1))

Hello World

In [9]:
#20. Find the longest word in a string.

In [3]:
# taking input from the user
str1=input()
#splitting the words
longest=str1.split()
#using max function and giving len as key
print(max(longest,key=len))

 this is a pwskills course

pwskills

In [13]:
#21. Find the shortest word in a string.

In [14]:
#taking input from the user
str1=input()
#splitting the words
shortest=str1.split()
#using min function and giving len as key
print(min(shortest,key=len))

 which is the shortest word

is

In [15]:
#22. Reverse the order of words in a string.

In [2]:
#taking input from the user
str1=input()
#splitting the words 
reverse=str1.split()
#reversing the order by slicing
reverse=reverse[::-1]
print(" ".join(reverse))

 this is india

india is this

In [30]:
#23. Check if a string is alphanumeric.

In [36]:
#taking input from the user
str1=input()
#using isalnum function to check if the string is alphanumeric or not
x=str1.isalnum()
print(x)

 123abc

True

In [37]:
#24. Extract all digits from a string.

In [41]:
str1 = "pwskills 987 hello 23 "
#a null string
str2=""
# Iterate through each character in the string
for char in input_string:
#adding in str2 if its a digit after checking using isdigit function
    if char.isdigit():
        str2+=char
print(str2)

98723

In [31]:
#25. Extract all alphabets from a string.

In [37]:
str1="hello world 324"
#a null string
str2 = ""
for i in str1:
#adding in str2 if its an alphabet after checking using isalpha function
    if i.isalpha():
        str2 += i
print(str2)

helloworld

In [42]:
#26. Count the number of uppercase letters in a string.

In [46]:
str1="AbcD Wdi"
#initial value of count is 0
count=0
#traversing through the string
for i in str1:
#increase count value by 1 if its an uppercase letter
    if i.isupper():
        count=count+1
print(count)

3

In [47]:
#27. Count the number of lowercase letters in a string.

In [4]:
str1="AkJLd emd Di"
#initial value of count is 0
count=0
#traversing through the string
for i in str1:
#increase count value by 1 if its an uppercase letter
    if i.islower():
        count=count+1
print(count)

6

In [50]:
#28. Swap the case of each character in a string.

In [65]:
str1="AbCcccdEf"
str2=""
#traversing thgrough the string
for i in str1:
#adding the swapped  case in str2 using if-else
    if i.isupper():
        str2+=i.lower()
    else:
        str2+=i.upper()
print(str2)

aBcDeF

In [9]:
#29. Remove a specific word from a string.

In [68]:
str1="removing a word"
#replacing the word by using replace function
str1=str1.replace("o","")
str1

'remving a wrd'

In [69]:
#30. Check if a string is a valid email address.

In [11]:
import re

def is_valid_email(email):
    # Define a simple pattern for a valid email address
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'

    # Use the re.match function to check if the email matches the pattern
    match = re.match(pattern, email)

    # Return True if there is a match, indicating a valid email address
    return bool(match)

# Example usage
email_to_check = "ajiteshsingh56@email.com"
if is_valid_email(email_to_check):
    print(f"{email_to_check} is a valid email address.")
else:
    print(f"{email_to_check} is not a valid email address.")

ajiteshsingh56@email.com is a valid email address.

In [9]:
#31. Extract the username from an email address string.

In [11]:
str1=input()
#splitting the string at @ into different words and printing the first word
str1=str1.split("@")
print(str1[0])

 ajiteshsingh56@gmail.com

ajiteshsingh56

In [12]:
#32. Extract the domain name from an email address string.

In [12]:
str1="example@gmail.com"
#splitting the string at @ into different words and printing the last word
str2=str1.split("@")
print(str2[1])

gmail.com

In [34]:
#33. Replace multiple spaces in a string with a single space.

In [35]:
str1="a  b  c  d  e"
#replacing using replace function
str1=str1.replace("  "," ")
print(str1)

a b c d e

In [36]:
#34. Check if a string is a valid URL.

In [22]:
str1=input()
#if the string contains the following attributes then it is a valid URL
x=str1.startswith(("https://","http://","ftp://")) and "." in str1
if x==True:
    print("valid")
else:
    print("not valid")

 http://www.facebook.com

valid

In [23]:
#35. Extract the protocol (http or https) from a URL string.

In [14]:
#importing urlparse
from urllib.parse import urlparse

#urlparse will break the url 
def extract_protocol(url):
    parsed_url = urlparse(url)
    #scheme or the protocol will be returned
    return parsed_url.scheme

# Example usage
url_to_check = "https://www.example.com"
protocol = extract_protocol(url_to_check)

print(f"The protocol of the URL {url_to_check} is: {protocol}")

The protocol of the URL https://www.example.com is: https

In [15]:
#36. Find the frequency of each character in a string.

In [6]:
text = input("Enter a string: ")

# Remove spaces and convert the string to lowercase (optional)
text=text.replace(" ","")

# Iterate through the characters in the string
for char in sorted(set(text)):
    count = text.count(char)
    print(char, ": ", count)

Enter a string:  Ajsbh Axsbh saa

A :  2
a :  2
b :  2
h :  2
j :  1
s :  3
x :  1

In [8]:
#37. Remove all punctuation from a string.

In [2]:
import string
def remove_punc(str1):
    str2=str.maketrans('','',string.punctuation)
    str3=str1.translate(str2)
    return str3
text="hi!, guys. How's it going?"
plain_text=remove_punc(text)
print(plain_text)

hi guys Hows it going

In [10]:
def count_consonants(input_string):
    # Define a set of lowercase consonants
    consonants = set("bcdfghjklmnpqrstvwxyz")
    
    # Convert the input string to lowercase for case-insensitive counting
    input_string = input_string.lower()
    
    # Initialize a count for consonants
    consonant_count = 0
    
    # Iterate through the characters in the string
    for char in input_string:
        if char in consonants:
            consonant_count += 1
    
    return consonant_count

# Test the function
text = input("Enter a string: ")
consonant_count = count_consonants(text)
print(f"Number of consonants: {consonant_count}")

Enter a string:  sdfkjc shcsdbcih cdiucb

Number of consonants: 18

In [12]:
#38. Check if a string contains only digits.

In [22]:
str1=input()
str1=str1.replace(" ","")
if str1.isdigit():
    print("contains only digits")
else:
    print("does not contains only digits")

 1234 345

contains only digits

In [23]:
#39. Check if a string contains only alphabets.

In [24]:
str1=input()
str1=str1.replace(" ","")
if str1.isalpha():
    print("contains only alphabets")
else:
    print("does'nt contain only alphabets")

 asdf sdfrg

contains only alphabets

In [25]:
#40. Convert a string to a list of characters.

In [7]:
str1=input()
li=[]
str1=str1.replace(" ","")
for i in str1:
    li.append(i)
print(li)

 this is a list

['t', 'h', 'i', 's', 'i', 's', 'a', 'l', 'i', 's', 't']

In [1]:
#41. Check if two strings are anagrams.

In [12]:
str1=input()
str2=input()
str1=str1.replace(" ","").lower()
str2=str2.replace(" ","").lower()
if(sorted(str1)==sorted(str2)):
    print("Anagram")
else:
    print("Not Anagram")

 earth
 heart

Anagram

In [9]:
#42. Encode a string using a Caesar cipher.

In [12]:
str1=input('string to encode')
shift=input('number of shifts')
li=""
for i in str1:
    if i.isalpha():
        char=chr((ord(i) + 3 - ord('a')) % 26 + ord('a'))
        li+=char
    else:
        li+=i
print(li)

string to encode encoded string
number of shifts 3

hqfrghg vwulqj

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [6]:
def caesar_cipher_decoder(text, shift):
    
    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "defghijkl"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: abcdefghi

In [7]:
#44. Find the most frequent word in a string.

In [13]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]



    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [14]:
#45. Find all unique words in a string.

In [15]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'the', 'hello', 'there', 'hows', 'world'}

In [16]:
#46. Count the number of syllables in a string.

In [3]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"

# Count syllables
syllables1 = count_syllables(word1)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")

'hello' has 2 syllables.

In [19]:
#47. Check if a string contains any special characters.
# Python program to print prime factors

import math

# A function to print all prime factors of
# a given number n
def primeFactors(n):
	
	# Print the number of two's that divide n
	while n % 2 == 0:
		print(2)
		n = n // 2
		
	# n must be odd at this point
	# so a skip of 2 ( i = i + 2) can be used
	for i in range(3,int(math.sqrt(n))+1,2):
        
		
		# while i divides n , print i ad divide n
		if n % i== 0:
            
			print(i)
			n = n // i
			
	# Condition if n is a prime
	# number greater than 2
	if n > 2:
		print(n)
		
# Driver Program to test above function

n = 22
primeFactors(n)

# This code is contributed by Harshit Agrawal 
#Code Improved by Ajitesh

2
2
2
3

In [14]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)


string1 = "pw, skills!!"
# Check if strings contain special characters
result1 = contains_special_characters(string1)
# Print the results
print(f"'{string1}' contains special characters:", result1)

'pw, skills!!' contains special characters: True

In [20]:
#48. Remove the nth word from a string.

In [22]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("invalid n value")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [25]:
#49. Insert a word at the nth position in a string.

In [29]:
# input string
inputString = "this is wskills"

# adding character 'p' at a specific position 
inputString = inputString[:8] + 'p' + inputString[8:]

# printing the resultant string 
print("Adding 'p' at 8th index of an input string:\n", inputString)

Adding 'p' at 8th index of an input string:
 this is pwskills

In [23]:
#50. Convert a CSV string to a list of lists.

In [24]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

Topic: LIST BASED ASSIGNMENT PROBLEM

In [5]:
#1. Create a list with integers from 1 to 10.

In [7]:
li=[]
for i in range(1,11):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#2. Find the length of a list without using the `len()` function.

In [9]:
li=[1,2,3,4,5,6,7,8,9]
count=0
for i in li:
    count+=1
print(count)

9

In [10]:
#3. Append an element to the end of a list.

In [12]:
li=[1,2,3,4,5,6,7,8]
str1=int(input())
li.append(str1)
print(li)

 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#4. Insert an element at a specific index in a list.

In [14]:
li=[1,2,4,5,6,7]
num=int(input())
li.insert(2,num)
print(li)

 3

[1, 2, 3, 4, 5, 6, 7]

In [15]:
#5. Remove an element from a list by its value.

In [2]:
li=[1,2,3,4,5,6,7]
rem=3
li.remove(rem)
print(li)

[1, 2, 4, 5, 6, 7]

In [17]:
#6. Remove an element from a list by its index.

In [18]:
li=[1,2,3,4,5,6,7,8,9]
ind=3
li.pop(ind)
print(li)

[1, 2, 3, 5, 6, 7, 8, 9]

In [19]:
#7. Check if an element exists in a list.

In [20]:
li=[1,2,3,4,5,6,7,8]
num=4
if num in li:
    print("element exists in list")
else:
    print("element doesn't exists in list")

element exists in list

In [21]:
#8. Find the index of the first occurrence of an element in a list.

In [27]:
li=[1,2,3,4,5,5,6,75,5]
a=li.index(5)
print(a)

4

In [28]:
#9. Count the occurrences of an element in a list.

In [31]:
li=[1,2,3,3,4,5,3,2,3,4,2,5]
li.count(2)

3

In [33]:
#10. Reverse the order of elements in a list.

In [34]:
li=[1,2,3,4,5,6,7]
li[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [35]:
#11. Sort a list in ascending order.

In [37]:
li=[4,3,5,4,1,7,11,34,9]
li.sort()
print(li)

[1, 3, 4, 4, 5, 7, 9, 11, 34]

In [38]:
#12. Sort a list in descending order.

In [40]:
li=[1,2,3,4,5,6,7]
li.sort(reverse=True)
print(li)

[7, 6, 5, 4, 3, 2, 1]

In [41]:
#13. Create a list of even numbers from 1 to 20.

In [45]:
li=[]
for i in range(1,21):
    if i%2==0:
        li.append(i)
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
#14. Create a list of odd numbers from 1 to 20.

In [47]:
li=[]
for i in range(1,21):
    if i%2!=0:
        li.append(i)
print(li)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
#15. Find the sum of all elements in a list.

In [50]:
li=[1,2,3,4,5,6,7,8]
sum(li)

36

In [51]:
#16. Find the maximum value in a list.

In [52]:
li=[1,6,3,22,11,34,32]
max(li)

34

In [53]:
#17. Find the minimum value in a list.

In [54]:
li=[2,43,23,11,4]
min(li)

2

In [55]:
#18. Create a list of squares of numbers from 1 to 10.

In [60]:
li=[]
for i in range(1,11):
    sq=i**2
    li.append(sq)
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
#19. Create a list of random numbers.

In [62]:
import random
li=[]
for i in range(1,11):
    li.append(random.randint(2,30))
print(li)

[10, 22, 10, 10, 22, 14, 29, 14, 22, 26]

In [63]:
#20. Remove duplicates from a list.

In [64]:
li=[1,2,2,3,2,4,5,11,13,11]
new_li=[]
for i in li:
    if i not in new_li:
        new_li.append(i)
print(new_li)

[1, 2, 3, 4, 5, 11, 13]

In [65]:
#21. Find the common elements between two lists.

In [3]:
li1=[2,3,12,23,34,45]
li2=[1,4,5,23,34,6]
li=[]
for i in li1:
    if i in li2:
        li.append(i)
print('common elements are:',li)

common elements are: [23, 34]

In [4]:
#22. Find the difference between two lists.

In [4]:
l1=[2,3,4,5,6,7]
l2=[1,12,13,4,5,6]
deff=list(set(l1).difference(l2))
deff

[2, 3, 7]

In [5]:
#23. Merge two lists.

In [6]:
l1=[1,2,3,4]
l2=[4,5,6,7]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 4, 5, 6, 7]

In [7]:
#24. Multiply all elements in a list by 2.

In [14]:
l1=[2,3,4,5,6]
l2=[]
for i in l1:
    a=i*2
    l2.append(a)
print(l2)

[4, 6, 8, 10, 12]

In [15]:
#25. Filter out all even numbers from a list.

In [17]:
l1=[1,2,3,4,5,6,7,8,9]
for i in l1:
    if i%2==0:
        l1.remove(i)
    else:
        pass
print(l1)

[1, 3, 5, 7, 9]

In [18]:
#26. Convert a list of strings to a list of integers.

In [35]:
l1=["1","2","3","4","5"]
l2=[]
for i in l1:
    l2.append(int(i))
print(l2)

[1, 2, 3, 4, 5]

In [36]:
#27. Convert a list of integers to a list of strings.

In [37]:
l1=[1,2,3,4,5,6,7]
l2=[]
for i in l1:
    l2.append(str(i))
print(l2)

['1', '2', '3', '4', '5', '6', '7']

In [38]:
#28. Flatten a nested list.

In [59]:
l1=[1,2,[3,4,5],[6,7,8]]
l2=[]
for i in l1:
    if isinstance(i,list):
        l2.extend(i)
    else:
        l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [60]:
#29. Create a list of the first 10 Fibonacci numbers.

In [33]:
li=[0,1]
n=int(input())
for i in range(2,n):
    
    li2=li[i-1]+li[i-2]
    li.append(li2)
print(li)

 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
#30. Check if a list is sorted.

In [31]:
def list_sort(li):
    for i in range(1,len(li)):
        if li[i]<li[i-1]:
            return False
    return True
li=[1,2,3,8,5,6]
if list_sort(li):
    print("sorted in ascending order")
else:
    print("Not sorted in ascending order")

Not sorted in ascending order

In [41]:
def rotate_left(n):
    n=n%len(l)
    rot=l[n:] +l[:n]
    return rot
    
n=int(input())
l=[1,2,3,4,5]
rotate_left(n)

 7

[3, 4, 5, 1, 2]

In [9]:
#31. Rotate a list to the left by `n` positions.

In [28]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [1]:
#32. Rotate a list to the right by `n` positions.

In [2]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [3]:
#33. Create a list of prime numbers up to 50.

In [24]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False

    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6

    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 50) if is_prime(num)]

print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size `n`.

In [17]:
def split_into_chunks(arr, chunk_size):
    for i in range(0, len(arr), chunk_size):
        yield arr[i:i + chunk_size]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunks = list(split_into_chunks(my_list, chunk_size))

print("List split into chunks of size", chunk_size, ":", chunks)

List split into chunks of size 3 : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
#35. Find the second largest number in a list.

In [1]:
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [2]:
#36. Replace every element in a list with its square.

In [3]:
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values

In [5]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [6]:
#38. Shuffle the elements of a list randomly.

In [7]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [3, 7, 8, 10, 4, 6, 1, 5, 2, 9]

In [8]:
#39. Create a list of the first 10 factorial numbers.

In [9]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [10]:
#40. Check if two lists have at least one element in common.

In [17]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [12]:
#41. Remove all elements from a list.

In [13]:
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [14]:
#42. Replace negative numbers in a list with 0.

In [15]:
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [18]:
#43. Convert a string into a list of words.

In [19]:
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [20]:
#44. Convert a list of words into a string.

In [21]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [22]:
#45. Create a list of the first `n` powers of 2.

In [23]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [24]:
#46. Find the longest string in a list of strings.

In [25]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

In [26]:
#47. Find the shortest string in a list of strings.

In [29]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [30]:
#48. Create a list of the first `n` triangular numbers.

In [31]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [32]:
#49. Check if a list contains another list as a subsequence.

In [33]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [35]:
#50. Swap two elements in a list by their indices.

In [36]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

TOPIC: TUPLE BASED PROBLEMS

In [1]:
#1. Create a tuple with integers from 1 to 5.

In [2]:
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [3]:
#2. Access the third element of a tuple.

In [4]:
tup=(1,2,3,4,5)
print(tup[2])

3

In [5]:
#3. Find the length of a tuple without using the `len()` function.

In [8]:
tup=(1,2,3,4,7,9,11)
count=0
for i in tup:
    count+=1
print(count)

7

In [9]:
#4. Count the occurrences of an element in a tuple.

In [11]:
t=(1,2,3,2,3,4,5,2,4,6)
t.count(2)

3

In [12]:
#5. Find the index of the first occurrence of an element in a tuple.

In [18]:
t=(1,2,3,2,3,4,5,2,4,6)
t.index(2)

1

In [19]:
#6. Check if an element exists in a tuple.

In [20]:
t=(11,22,33,43,23,54)
num=int(input("enter number to find"))
if num in t:
    print("present")
else:
    print("not present")

enter number to find 23

present

In [21]:
#7. Convert a tuple to a list.

In [24]:
t=(11,22,33,43,23,54)
l=list(t)
print(l)

[11, 22, 33, 43, 23, 54]

In [26]:
# 8. Convert a list to a tuple.

In [27]:
l=[11,22,33,43,23,54]
t=tuple(l)
print(t)

(11, 22, 33, 43, 23, 54)

In [28]:
#9. Unpack the elements of a tuple into variables.

In [29]:
t=(10,20,30)
a,b,c=t
print(a,b,c)

10 20 30

In [30]:
#10. Create a tuple of even numbers from 1 to 10.

In [32]:
l=[i for i in range(0,11,2)]
t=tuple(l)
print(t)

(0, 2, 4, 6, 8, 10)

In [33]:
#11. Create a tuple of odd numbers from 1 to 10.

In [35]:
l=[i for i in range(1,11,2)]
t=tuple(l)
print(t)

(1, 3, 5, 7, 9)

In [36]:
#12. Concatenate two tuples.t1=(1,2,3)
t2=(4,5,6)
t=t1+t2
print(t)

(1, 2, 3, 4, 5, 6)

In [1]:
#13. Repeat a tuple three times.

In [2]:
t=(1,2,3)
t*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [3]:
#14. Check if a tuple is empty.

In [7]:
t1=(1,2,3)
t2=()
if t1==t2:
    print("it's empty")
else:
    print("not empty")

not empty

In [8]:
#15. Create a nested tuple.

In [9]:
t=(('a','b','c'),(1,2,3),(True))
print(t)

(('a', 'b', 'c'), (1, 2, 3), True)

In [10]:
#16. Access the first element of a nested tuple.

In [11]:
t=(('a','b','c'),(1,2,3),(True))
t[0]

('a', 'b', 'c')

In [12]:
#17. Create a tuple with a single element.

In [13]:
t=(55,)
print(t)

(55,)

In [14]:
#18. Compare two tuples.

In [16]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Equality
if tuple1 == tuple2:
    print("tuple1 is equal to tuple2")

# Inequality
if tuple1 != tuple2:
    print("tuple1 is not equal to tuple2")

# Less than
if tuple1 < tuple2:
    print("tuple1 is less than tuple3")

# Greater than
if tuple2 > tuple1:
    print("tuple3 is greater than tuple1")

tuple1 is equal to tuple2

In [17]:
#19. Delete a tuple.

In [20]:
t=(1,2,3)
del t

In [21]:
#20. Slice a tuple.

In [23]:
t=(1,2,3,4,5,6,7,8)
v=t[2:6]
print(v)

(3, 4, 5, 6)

In [24]:
#21. Find the maximum value in a tuple.

In [25]:
t=(1,2,3,4,5)
max(t)

5

In [26]:
#22. Find the minimum value in a tuple.

In [27]:
t=(3,2,1,5,6)
min(t)

1

In [28]:
#23. Convert a string to a tuple of characters.

In [30]:
str1=("istring")
t=tuple(str1)
print(t)

('i', 's', 't', 'r', 'i', 'n', 'g')

In [35]:
#24. Convert a tuple of characters to a string.
t=('h','e','l','l','o',' ','w','o','r','l','d')
str1=''.join(t)
print(str1)

hello world

In [36]:
#25. Create a tuple from multiple data types.

In [37]:
t=(1,2,True,'a','b')
print(t)

(1, 2, True, 'a', 'b')

In [38]:
#26. Check if two tuples are identical.

In [40]:
t1=(1,2,3)
t2=(1,2,3,4)
t1==t2

False

In [41]:
#27. Sort the elements of a tuple.

In [45]:
t=(2,4,1,7,5,4)
t1=tuple(sorted(t))
t1

(1, 2, 4, 4, 5, 7)

In [46]:
#28. Convert a tuple of integers to a tuple of strings.

In [52]:
t=(1,2,3,4)
t1=tuple(str(i) for i in t)
print(t1)

('1', '2', '3', '4')

In [53]:
#29. Convert a tuple of strings to a tuple of integers.

In [54]:
t=('1','2','3','4')
t1=tuple(int(i) for i in t)
print(t1)

(1, 2, 3, 4)

In [55]:
#30. Merge two tuples.

In [56]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [57]:
#31. Flatten a nested tuple.

In [60]:
# Recursive function to flatten a nested tuple
def flatten_t(t):
    flattened = []
    for item in t:
        if isinstance(item, tuple):
            flattened.extend(flatten_t(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
t = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_t = tuple(flatten_t(t))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_t)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [61]:
#32. Create a tuple of the first 5 prime numbers.

In [62]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = []
num = 2

while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1

prime_numbers_tuple = tuple(prime_numbers)
print(prime_numbers_tuple)

(2, 3, 5, 7, 11)

In [63]:
#33. Check if a tuple is a palindrome.

In [64]:
t=(1,2,3,4)
t1=t[::-1]
t1==t2

False

In [65]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [71]:
t=tuple( i*i for i in range(1,6))
print(t)

(1, 4, 9, 16, 25)

In [72]:
#35. Filter out all even numbers from a tuple.

In [73]:
t1=(1,2,3,4,5,6,7)
t2=tuple(i for i in t1 if i!=0)
print(t2)

(1, 2, 3, 4, 5, 6, 7)

In [74]:
#36. Multiply all elements in a tuple by 2.

In [77]:
t=(1,2,3,4,5)
tuple(map(lambda a: a*2,t))

(2, 4, 6, 8, 10)

In [78]:
#37. Create a tuple of random numbers.

In [80]:
import random
t=tuple(random.randint(0,100) for i in range(10))
t

(37, 86, 67, 88, 84, 45, 34, 49, 85, 47)

In [81]:
#38. Check if a tuple is sorted.

In [82]:
t=(1,2,3,4,5)
t2=tuple(sorted(t))
t==t2

True

In [1]:
#39. Rotate a tuple to the left by `n` positions.

In [7]:
t=(1,2,3,4,5)
n=int(input("number of positions to rotate"))
n=n%len(t)
t1=t[n:]+t[:n]
print(t1)

number of positions to rotate 2

(3, 4, 5, 1, 2)

In [8]:
#40. Rotate a tuple to the right by `n` positions.

In [14]:
t=(1,2,3,4,5)
n=int(input())
n=n%len(t)
t1=t[-n:] +t[:-n]
print(t1)

 2

(4, 5, 1, 2, 3)

In [15]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [16]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [17]:
#42. Create a tuple from user input.

In [20]:
str1=input("ENTER INPUT SEPERATED BY ,")
t=tuple(str1.split(','))
print(t)

ENTER INPUT SEPERATED BY , 1,2,3,4,5,6

('1', '2', '3', '4', '5', '6')

In [21]:
#43. Swap two elements in a tuple.

In [22]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [23]:
#44. Reverse the elements of a tuple.

In [24]:
t=(1,2,3,4,5)
t1=t[::-1]
print(t1)

(5, 4, 3, 2, 1)

In [25]:
#45. Create a tuple of the first `n` powers of 2.

In [29]:
n=int(input())
t=tuple(2**i for i in range(1,n+1))
print(t)

 5

(2, 4, 8, 16, 32)

In [30]:
#46. Find the longest string in a tuple of strings.

In [32]:
t=('a','ab','abc','abcd')
max(t,key=len)

'abcd'

In [33]:
#47. Find the shortest string in a tuple of strings.

In [34]:
t=('a','ab','abc','abcd')
min(t,key=len)

'a'

In [35]:
#48. Create a tuple of the first `n` triangular numbers.

In [36]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [37]:
#49. Check if a tuple contains another tuple as a subsequence.

In [45]:
main_tuple=(1,2,3,4,5,6)
sub_tuple=(2,3,4,)
sub_length = len(sub_tuple)
for i in range(len(main_tuple) - sub_length + 1):
    if main_tuple[i:i+sub_length] == sub_tuple:
        print("contains")

contains

In [46]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [47]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

TOPIC: SET BASED QUESTIONS

In [1]:
#1. Create a set with integers from 1 to 5.

In [10]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
#2. Add an element to a set.

In [5]:
my_set={1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [6]:
#3. Remove an element from a set.

In [8]:
my_set={1,2,3,4,5}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4}

In [9]:
#4. Check if an element exists in a set.

In [12]:
my_set={1,2,3,4,5}
element=int(input())
if element in my_set:
    print("exists")
else:
    print("does not exists")

 4

exists

In [13]:
#5. Find the length of a set without using the `len()` function.

In [19]:
count=0
my_set={1,2,3,4,5}
for i in my_set:
    count+=1
print(count)

5

In [20]:
#6. Clear all elements from a set.

In [21]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [1]:
#7. Create a set of even numbers from 1 to 10.

In [8]:
my_set=set()
for i in range(1,11):
    if i%2==0:
        my_set.add(i)
print(my_set)

{2, 4, 6, 8, 10}

In [11]:
#8. Create a set of odd numbers from 1 to 10.

In [12]:
my_set=set()
for i in range(1,11):
    if i%2!=0:
        my_set.add(i)
print(my_set)

{1, 3, 5, 7, 9}

In [13]:
#9. Find the union of two sets.

In [15]:
my_set1={1,3,5,6,7}
my_set2={2,4,5,7}
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 7}

In [16]:
#10. Find the intersection of two sets.

In [17]:
my_set1={1,2,3,4,5}
my_set2={2,3,4,7,8,9}
my_set1.intersection(my_set2)

{2, 3, 4}

In [18]:
#11. Find the difference between two sets.

In [19]:
my_set1={4,3,5,2,6}
my_set2={1,2,3,4,5}
my_set1.difference(my_set2)

{6}

In [20]:
#12. Check if a set is a subset of another set.

In [22]:
my_set1={2,3,4,5,6}
my_set2={2,3,4}
my_set2.issubset(my_set1)

True

In [23]:
#13. Check if a set is a superset of another set.

In [25]:
my_set1={2,3,4,5,6}
my_set2={2,3,4}
my_set1.issuperset(my_set2)

True

In [26]:
#14. Create a set from a list.

In [27]:
l1=[1,2,3,4,5]
set(l1)

{1, 2, 3, 4, 5}

In [28]:
#15. Convert a set to a list.

In [29]:
my_set={1,2,3,4,5}
list(my_set)

[1, 2, 3, 4, 5]

In [30]:
#16. Remove a random element from a set.

In [8]:
import random
my_set={1,2,3,4,5}
random_el=random.choice(list(my_set))
my_set.remove(random_el)
my_set

{1, 2, 3, 4}

In [9]:
#17. Pop an element from a set.

In [12]:
my_set={1,2,3,4,5}
my_set.pop()
my_set

{2, 3, 4, 5}

In [13]:
#18. Check if two sets have no elements in common.

In [14]:
my_set1={1,2,3,4,5}
my_set2={4,5,6,7,8}
comm=my_set1.intersection(my_set2)
if comm:
    print("common elements found")
else:
    print("no common element found")

common elements found

In [15]:
#19. Find the symmetric difference between two sets.

In [16]:
my_set1={1,2,3,4,5}
my_set2={4,5,6,7,8}
sym_diff=my_set1^my_set2
sym_diff

{1, 2, 3, 6, 7, 8}

In [17]:
#20. Update a set with elements from another set.

In [22]:
my_set1={1,2,3,4,5}
my_set2={4,5,6,7,8}
my_set1.update(my_set2)
my_set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
#21. Create a set of the first 5 prime numbers.

In [1]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [2]:
#22. Check if two sets are identical.

In [3]:
my_set1={1,2,3,4,5}
my_set2={4,5,6,7,8}
if my_set1==my_set2:
    print("identical")
else:
    print("not identical")

not identical

In [4]:
#23. Create a frozen set.

In [5]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [6]:
#24. Check if a set is disjoint with another set.

In [2]:
set1={1,2,3,4}
set2={3,4,5,6}
disjoint=set1.isdisjoint(set2)
print(disjoint)

False

In [4]:
#25. Create a set of squares of numbers from 1 to 5.

In [7]:
set_sq=set()
for i in range(1,6):
    a=i*i
    set_sq.add(a)
print(set_sq)

{1, 4, 9, 16, 25}

In [8]:
#26. Filter out all even numbers from a set.

In [10]:
set1={1,2,3,4,5,6,7,8}
set2=set()
for i in set1:
    if i%2==0:
        set2.add(i)
print(set2)

{8, 2, 4, 6}

In [11]:
#27. Multiply all elements in a set by 2.

In [13]:
set1={1,2,3,4,5,6,7}
set2=set()
for i in set1:
    a=i*2
    set2.add(a)
print(set2)

{2, 4, 6, 8, 10, 12, 14}

In [14]:
#28. Create a set of random numbers.

In [16]:
import random
set1=set()
for i in range(1,9):
    rand_num=random.randint(1,100)
    set1.add(rand_num)
print(set1)

{33, 65, 37, 69, 43, 25, 27, 30}

In [17]:
#29. Check if a set is empty.

In [22]:
set1={1,2,3,5}
if not set1:
    print("empty")
else:
    print("not empty")

not empty

In [23]:
#30. Create a nested set (hint: use frozenset).

In [24]:
set1={1,2,3,4}
set2={4,5,6,7}
fs1=frozenset(set1)
fs2=frozenset(set2)
nested_set={fs1,fs2}
print(nested_set)

{frozenset({1, 2, 3, 4}), frozenset({4, 5, 6, 7})}

In [25]:
#31. Remove an element from a set using the discard method.

In [26]:
set1={1,2,3,4,5}
print("before removing :", set1)
set1.discard(3)
print("after removing :", set1)

before removing : {1, 2, 3, 4, 5}
after removing : {1, 2, 4, 5}

In [27]:
#32. Compare two sets.

In [1]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [2]:
#33. Create a set from a string.

In [3]:
str1="python"
set1=set(str1)
print(set1)

{'o', 'y', 'h', 't', 'p', 'n'}

In [4]:
#34. Convert a set of strings to a set of integers.

In [7]:
set1={'1','2','3','4'}
set2=set()
for i in set1:
    a=int(i)
    set2.add(a)
print(set2)

{1, 2, 3, 4}

In [8]:
#35. Convert a set of integers to a set of strings.

In [9]:
set1={1,2,3,4,5}
set2=set()
for i in set1:
    a=str(i)
    set2.add(a)
print(set2)

{'5', '3', '4', '2', '1'}

In [10]:
#36. Create a set from a tuple.

In [13]:
tup=(1,2,3,4)
set1=set(tup)
print(set1)

{1, 2, 3, 4}

In [14]:
#37. Convert a set to a tuple.

In [15]:
set1={1,2,3,4,5}
tup=tuple(set1)
print(tup)

(1, 2, 3, 4, 5)

In [16]:
#38. Find the maximum value in a set.

In [19]:
# Define a set with some values
my_set = {11, 22, 72, 23, 13}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 72

In [22]:
#39. Find the minimum value in a set.

In [21]:
## Create a sample set of numbers
number_set = {12,23,34,45,56}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 12

In [23]:
#40. Create a set from user input.

In [4]:
set1=set()
print("enter elements and press f to finish")
while True:
    user_input=input("-")
    if user_input.lower()=='f':
        break
    else:
        set1.add(user_input)
print(set1)

enter elements and press f to finish

- book
- pen
- laptop
- f

{'pen', 'book', 'laptop'}

In [5]:
#41. Check if the intersection of two sets is empty.

In [6]:
set1={1,2,3,4}
set2={3,4,5,6}
result=set1.intersection(set2)
if result:
    print("not empty")
else:
    print("empty")

not empty

In [7]:
#42. Create a set of the first 5 Fibonacci numbers.

In [27]:
fib_set=set()
a,b=0,1
for i in range(6):
    fib_set.add(a)
    
    a,b=b,a+b
print(fib_set)

{0, 1, 2, 3, 5}

In [28]:
#43. Remove duplicates from a list using sets.

In [30]:
l=[1,2,2,3,2,34,5,44,54,44,34]
set1=set(l)
new_l=list(set1)
print(new_l)

[1, 2, 3, 34, 5, 44, 54]

In [31]:
#44. Check if two sets have the same elements, regardless of their count.

In [38]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [39]:
#45. Create a set of the first `n` powers of 2.

In [45]:
set1=set()
n=int(input())
for i in range(1,n+1):
    a=2**i
    set1.add(a)
a=sorted(list(set1))
print(a)

 7

[2, 4, 8, 16, 32, 64, 128]

In [46]:
#46. Find the common elements between a set and a list.

In [6]:
a={1,2,3,4,5}
b=[4,5,6,7,8]
c=[]

for i in a:
    if i in b:
        c.append(i)
print(c)

[4, 5]

In [7]:
#47. Create a set of the first `n` triangular numbers.

In [18]:
n=int(input())
l=[]
for i in range(n):
    a=int(((i**2)+i)/2)
    l.append(a)
l

 6

[0, 1, 3, 6, 10, 15]

In [19]:
#48. Check if a set contains another set as a subset.

In [27]:
s1={1,2,3,4}
s2={3,4}
if_sub=s2.issubset(s1)
if if_sub:
    print("Contains")
else:
    print("does not contain")

Contains

In [28]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [30]:
n=int(input())
l=[]
for i in range(n):
    if i%2==0:
        l.append(0)
    else:
        l.append(1)
l

 6

[0, 1, 0, 1, 0, 1]

In [31]:
#50. Merge multiple sets into one.

In [33]:
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}
s4=s1.union(s2,s3)
s4

{1, 2, 3, 4, 5, 6, 7, 8, 9}